<footer>
	<div>
		<a class="label" href="<%=(yield :navigation_url)%>"><%=yield :navigation_text%></a>
		<a class="label" target="_blank" href="https://github.com/AllaOleinik/Todo">GitHub</a>
	</div>
</footer>
